html {
  font-size: 10px;
  box-sizing: border-box;
}
/* root */
:root {
  --primary-color: #00dc64;
  --secondary-color: black;
  --text-color: #333;
  --background-color: #f5f5f5;
}

a {
  text-decoration: none;
  color: black;
}

body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
}
.btn {
  font-size: 1.4rem;
  padding: 12px 24px;
  background-color: var(--secondary-color);
  color: #fff;
  border-radius: 22px;
  font-weight: 300;
}

.container {
  max-width: 1125px;
}
/* header -nav */
.nav {
  max-width: 1780px;
  padding: 20px 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 1.6rem;
}
.nav__left {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
.nav__left--list {
  display: flex;
  gap: 15px;
}

.logo {
  width: 70px;
  cursor: pointer;
}

.shop {
  color: var(--primary-color);
  text-transform: uppercase;
}

.nav__right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.btn__login {
  background-color: #fff;
  color: black;
  border: 1px solid black;
}

/* hero */
.hero {
  background: url(./bg.jpg) no-repeat center center/cover;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 490px;
}

.hero__img--left {
  object-fit: cover;
  overflow: hidden;
  height: 490px;
}
.hero__right {
  position: relative;
  width: 25%;
}
.hero__img--right1 {
  position: absolute;
  bottom: 0;
  left: -40px;
  object-fit: cover;
}

.hero__img--right2 {
  position: absolute;
  object-fit: cover;
  top: -15px;
  left: -8px;
}

.week {
  width: 100%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.week__list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.day {
  padding: 18px 30px;
  font-size: 1.6rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.5s;
}

.active {
  background-color: var(--primary-color);
}
